body{
    background-color: beige;
    color: brown;
    text-align: center;
    border: 2px solid purple;
    margin:10%
    
}
/* header{
    border: 2px solid red;
} */
a{
    text-decoration: none;
    cursor: pointer;
    color: blueviolet;
}
a:visited{
    color:pink;
}
a:hover{
    color:chocolate;
    /* background-color: blue; */
}
a:active{
    color: black;

}