*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: radial-gradient(blue,pink);
    display: flex;
    flex-direction: column;

}
header,nav,main,footer{
    display: grid;
    
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}
header,footer{
    position: sticky;
    background-color: blueviolet;
}
header{
    top:0;
   

}
nav{
    background-color: pink;
    padding:0.5rem;
    border-bottom: 2px solid black;
    color:white;
}
main{
    flex-grow: 1;
}
footer{
    bottom:0;
}
@media screen and (min-width:576px){
    body{
        background-color: green;
        background-image: linear-gradient(whitesmoke,green);
    }
    header{
        background-color: black;
        color: white;
    }
    nav{
        color:black;
        background-color: white;
    }

}
@media screen and (min-width:992px){
    body{
        background-color: rebeccapurple;
        background-image: radial-gradient(whitesmoke, rebeccapurple);
    }
    h1,h2{
        font-size: 1.5rem;
    }
    nav{
        display: none;
    }
}